.coins-counter {
  margin-bottom: 16px;

  .label {
    display: block;
    font-size: 1.15rem;
    color: #e3e9eb;
    margin-bottom: 4px;
  }

  input {
    display: block;
    height: 46px;
    position: relative;
    font-family: inherit;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    background-color: white;
    border: 1px solid #87888b;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }
}
