.ror2-button {
  position: relative;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  background-color: #425161;
  border: 1px solid #87888b;
  padding: 10px 15px;
  box-shadow: inset 0px 0px 3px 2px #536678;
  text-shadow: 0px 1px black;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: #b2b57c;
    box-shadow: inset 0px 0px 3px 2px #dcde9a;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      left: -8px;
      bottom: -8px;
      right: -8px;
      border: 3px solid #ffffff;
      animation: constrict 0.1s linear;

      @keyframes constrict {
        from {
          top: -12px;
          left: -20px;
          bottom: -12px;
          right: -20px;
        }
        to {
          top: -8px;
          left: -8px;
          bottom: -8px;
          right: -8px;
        }
      }
    }
  }

  &:active {
    background-color: #989c59;
    box-shadow: inset 0px 0px 3px 2px #dcde9a;
  }
}
