.grid {
  position: relative;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 84px 1fr;
  background-color: #28333D;
  border: 2px solid #33404D;
  color: #ffffff;
  text-align: left;
  align-items: center;

  &.selected {
    background-color: #6C5B33;
    border-color: #E2E15E;
  }

  &:hover {
    &::after {
      content: '';
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: white;
      opacity: 0.05;
    }

    background-color: #62666B;

    &::before {
      content: '';
      position: absolute;
      top: -7px;
      left: -7px;
      bottom: -7px;
      right: -7px;
      border: 2px solid #ffffff;
    }
  }

  .icon {
    margin: -2px;
  }

  .text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 5px;

    .name {
      font-size: 1.25rem;
      font-weight: bold;
      margin: 0;
    }

    .desc {
      color: #E3E9EB;
      margin: 0;
    }
  }
}