.grid {
  display: grid;
  grid-template-columns: 84px 1fr;

  .icon {
    margin: -2px;

    img {
      width: 100%;
    }
  }

  .text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;
    overflow: hidden;

    .name,
    .desc {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .name {
      font-size: 1.7rem;
      margin: 0;
    }

    .desc {
      white-space: nowrap;
      font-size: 1.15rem;
      color: #e3e9eb;
      margin: 0;
    }
  }
}
