.checkbox {
  button {
    position: relative;
    border: 3px solid #FFFFFF;
    width: 26px;
    height: 26px;
    background-color: transparent;
    box-shadow: 0px 0px 0px 1px #666c71, inset 0px 0px 0px 1px #666c71;

    &.checked {
      &::before {
        content: '';
        position: absolute;
        height: 40px;
        width: 19px;
        top: -21px;
        left: 6px;
        border-right: 7px solid #666c71;
        border-bottom: 7px solid #666c71;
        transform: rotate(45deg);
      }
      &::after {
        content: '';
        position: absolute;
        height: 35px;
        width: 15px;
        top: -19px;
        left: 8px;
        border-right: 3px solid #ffffff;
        border-bottom: 3px solid #ffffff;
        transform: rotate(45deg);
      }
    }
  }



  checkbox {
    display: none;
  }
}