.challenge-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;

  @media (min-width: 992px) {
    border: 4px solid #1c2632;
    padding: 4px 42px;
    grid-template-columns: 1fr 1fr;
  }
}

.form-group.row {
  margin-bottom: 16px;

  .label {
    display: block;
    font-size: 1.15rem;
    color: #e3e9eb;
    margin-bottom: 4px;
  }

  input {
    display: block;
    height: 46px;
    position: relative;
    font-family: inherit;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    background-color: white;
    border: 1px solid #87888b;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }
}

.category-divider {
  border-bottom: 4px solid #1c2632;
  margin-bottom: 8px;
}

.btn {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #28333d;
  border: 2px solid #33404d;
  color: #ffffff;
  text-align: left;
  align-items: center;
  text-shadow: 0px 1px black;

  &:focus {
    outline: 0;
  }

  &.selected {
    background-color: #6c5b33;
    border-color: #6c5b33;
    outline: #e2e15e 1px solid;
    outline-offset: -3px;
  }

  &.indeterminate {
    border-color: #6c5b33;
    outline: #e2e15e 1px solid;
    outline-offset: -3px;
  }

  &:hover {
    &::after {
      content: "";
      pointer-events: none;
      position: absolute;
      top: -2px;
      left: -2px;
      bottom: -2px;
      right: -2px;
      background-color: white;
      opacity: 0.18;
    }

    &::before {
      content: "";
      cursor: pointer;
      position: absolute;
      top: -8px;
      left: -8px;
      bottom: -8px;
      right: -8px;
      border: 3px solid #ffffff;
      animation: constrict 0.1s linear;

      @keyframes constrict {
        from {
          top: -12px;
          left: -20px;
          bottom: -12px;
          right: -20px;
        }
        to {
          top: -8px;
          left: -8px;
          bottom: -8px;
          right: -8px;
        }
      }
    }
  }
}
